.tertiary-button{
    padding: 7px;
    background: none;
    border: none;
    font-weight: 600;
    margin-right: 30px;

    @include desktop_md{
        font-size: 0.875rem;
        margin-right: 20px;
      }
      @include desktop_sm{
        font-size: 0.875rem;
        margin-right: 10px;
      }

      @include tablet_md{
        font-size: 0%;
      }
      @include tablet_lg{
        font-size: 0%;
      }
    

}

.primary-button{
    background-color: #D2EAFF;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    color: #3366A1;

    div{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;

        @include desktop_md{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
          }

        @include desktop_sm{
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          
    }
    @include custom_size{
        font-size: 0%;
      }  
}

#button-container{
    text-align: end;
}


#dropdown-btn{
    font-size: 14px;
    font-weight: 700;
}